
.navbar-brand {
    padding: 5px;
}

.navbar-brand > img {
    height: 100%;
    padding: 3px;
    width: auto;
}

.thumb-dropdown .dropdown-menu > li {
    position: relative;
}

.thumb-dropdown .dropdown-menu > li > a .thumbnail {
    position: absolute;
    left: 100%;
    top: -10px;
    display: none;
    width: 350px;
    height: auto;
    margin-left: 5px;
}

.thumb-dropdown .dropdown-menu > li > a:hover .thumbnail {
    display: block;
}

/* Laptop */
@media only screen and (max-width : 1200px) {

    }
/* iPad Querformat */
@media only screen and (max-width : 1024px) {

    }
/* iPad Hochformat */
@media only screen and (max-width : 768px) {

    }
/* Kleines Tablet Querformat */
@media only screen and (max-width : 649px) {

    }
/* iPhone Querformat */
@media only screen and (max-width : 480px) {

    }
/* iPhone Hochformat */
@media only screen and (max-width : 320px) {

    }